**1. Working With CSV Files**

In [ ]:
df = pd.read.csv('file location') #This is used to load the data from local storagea also df means data frame
df  #printing the data frame

* Opening a csv file from an URL

In [ ]:
import requests
import pandas as pd
from io import StringIO


url = "https://raw.githubusercontent.com/cs109/2014_data/master/countries.csv"
headers = {
    "User-Agent": "Mozilla/5.0 (Macintosh; Intel Mac OS X 10.14; rv:66.0) Gecko/20100101 Firefox/66.0"
}

req = requests.get(url, headers=headers)
data = StringIO(req.text)      # Convert the response text into a file-like object for pandas
df = pd.read_csv(data)
print(df.head())       # Print the first few rows of the DataFrame to verify the data

    Country  Region
0   Algeria  AFRICA
1    Angola  AFRICA
2     Benin  AFRICA
3  Botswana  AFRICA
4   Burkina  AFRICA

* Sep Parameter

In [ ]:
pd.read_csv('file.tsv',sep='\t', names=['according to data give the names', '',''])
# here \t is tab which means rather than finding commas find tabs also files.tsv is the name of your file

* Index_col *Parameter*

In [ ]:
pd.read_csv('fileName.csv', index_col='column name') #this will replace default automatic created column

* Header Parameter

In [ ]:
pd.read_csv('fileName.csv', header=1) #this is used when column names are treated as rows

* use_cols parameter

In [ ]:
pd.read_csv('FileName.csv', usecols=['columnName1', 'columnName2'])  #if we need only specific columns

* Squeeze Parameters

In [ ]:
pd.read_csv('FileName.csv', usecols=['columnName1'], squeeze=True)  # here its not pands data frame it becomes panda series object

* Skip rows/nrows Parameter

In [ ]:
pd.read_csv('FileName.csv', skiprows=[0,1])  # it skips the rows we give we can give random numbers to skip it

In [ ]:
pd.read_csv('FileName.csv', nrows=[100])  # now it gives only 100 rows if the csv file has 500 rows of data

* Encoding Parameter

In [ ]:
# Read the CSV file with a specific text encoding (latin-1) to handle special characters
df = pd.read_csv('FileName.csv', encoding='latin-1')

* Skip Bad Lines

In [ ]:

df = pd.read_csv('FileName.csv', error_bad_lines=False)  #this will skip the bad lines

* dtypes Parameters

In [ ]:
pd.read_csv('FileName.csv', dtypes={'colName':datatype you want to change}) #change the datatypes

* Handling Dates

In [ ]:
pd.read_csv('FileName.csv', prase_dates=['colName'])  #treat dates as date not as object

* Converters

In [ ]:
def rename(name):
  if name =="Royal Challenegers Banglore":
    return "RCB"
  else:
    return name

In [ ]:
rename ("Royal Challenegers Banglore")

'RCB'

In [ ]:
pd.read_csv('FileName.csv', converters={'colName' :functionName })   #as shown in above exampe

* na_values parameters

In [ ]:
pd.read_csv('FileName.csv', na_values=['colName'])   #make the column nan as we don't need them and treat them accordingly

* Loading huge dataset in chunks

In [ ]:
dfs= pd.read_csv('FileName.csv', chunksize= 500  )   #divide hige dataset to chunks/groups (enter number in place of 500) also here dfs i svariable

In [ ]:
for chunks in dfs:
  print (chunk.shape)  #checking the size

2. Working with JSON / SQL Data

* JSON is Javascript on Notation, JSON is universal because almost all languages understand JSON data.

* SQL is structured query language it is taken directly from database

In [ ]:
pd.read_json('train.json')   #read from json file

In [ ]:
pd.read_json('link/URL')  #it is used to import the data from URL

SQL

Here we have to run the SQL file in our system, for instance through xampp. Then create new database in xampp and upload the downladed sql file from kaggle or wherever you found it. And we need to bridge mysql with python for that we need to use mysql.connector.

In [ ]:
!pip install mysql.connector  #installing

Collecting mysql.connector
  Downloading mysql-connector-2.2.9.tar.gz (11.9 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 11.9/11.9 MB 27.3 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Building wheels for collected packages: mysql.connector
  Building wheel for mysql.connector (setup.py) ... done
  Created wheel for mysql.connector: filename=mysql_connector-2.2.9-cp311-cp311-linux_x86_64.whl size=247951 sha256=537784257d6b41849dd383ea31a1d35dfbafd9c51efccb75d747a3e3c5e5ccc6
  Stored in directory: /root/.cache/pip/wheels/17/cd/ed/2d49e9bac69cf09382e4c7cc20a2511202b48324b87db26019
Successfully built mysql.connector
Installing collected packages: mysql.connector
Successfully installed mysql.connector-2.2.9

In [ ]:
import mysql.connector  #importing

In [ ]:
conn = mysql.connector.connect (host='localhost/ip adress', user='root', password='', database='databasename')
#if working with local database then write host='localhost' else you have to write the ip address
#then we get mySQL connection

In [ ]:
pd.read_sql_query("select * From tableName", conn) #here conn is the variable we use in abouve block

# 3. Fetching data from API

Working from TMDB (database of movie)

https://developer.themoviedb.org/docs/getting-started

https://developer.themoviedb.org/reference/movie-top-rated-list

In [ ]:
import pandas as pd
import requests

In [ ]:
response = requests.get('https://api.themoviedb.org/3/movie/top_rated?api_key=08f5259a7b43d7d3bf08a261a0f38dd1&language=en-US&page=1')

In [ ]:
response.json()['results']

[{'adult': False,
  'backdrop_path': '/kXfqcdQKsToO0OUXHcrrNCHDBzO.jpg',
  'genre_ids': [18, 80],
  'id': 278,
  'original_language': 'en',
  'original_title': 'The Shawshank Redemption',
  'overview': 'Imprisoned in the 1940s for the double murder of his wife and her lover, upstanding banker Andy Dufresne begins a new life at the Shawshank prison, where he puts his accounting skills to work for an amoral warden. During his long stretch in prison, Dufresne comes to be admired by the other inmates -- including an older prisoner named Red -- for his integrity and unquenchable sense of hope.',
  'popularity': 35.0837,
  'poster_path': '/9cqNxx0GxF0bflZmeSMuL5tnGzr.jpg',
  'release_date': '1994-09-23',
  'title': 'The Shawshank Redemption',
  'video': False,
  'vote_average': 8.71,
  'vote_count': 28334},
 {'adult': False,
  'backdrop_path': '/tmU7GeKVybMWFButWEGl2M4GeiP.jpg',
  'genre_ids': [18, 80],
  'id': 238,
  'original_language': 'en',
  'original_title': 'The Godfather',
  'overview': 'Spanning the years 1945 to 1955, a chronicle of the fictional Italian-American Corleone crime family. When organized crime family patriarch, Vito Corleone barely survives an attempt on his life, his youngest son, Michael steps in to take care of the would-be killers, launching a campaign of bloody revenge.',
  'popularity': 34.2345,
  'poster_path': '/3bhkrj58Vtu7enYsRolD1fZdja1.jpg',
  'release_date': '1972-03-14',
  'title': 'The Godfather',
  'video': False,
  'vote_average': 8.686,
  'vote_count': 21466},
 {'adult': False,
  'backdrop_path': '/kGzFbGhp99zva6oZODW5atUtnqi.jpg',
  'genre_ids': [18, 80],
  'id': 240,
  'original_language': 'en',
  'original_title': 'The Godfather Part II',
  'overview': 'In the continuing saga of the Corleone crime family, a young Vito Corleone grows up in Sicily and in 1910s New York. In the 1950s, Michael Corleone attempts to expand the family business into Las Vegas, Hollywood and Cuba.',
  'popularity': 17.3255,
  'poster_path': '/hek3koDUyRQk7FIhPXsa6mT2Zc3.jpg',
  'release_date': '1974-12-20',
  'title': 'The Godfather Part II',
  'video': False,
  'vote_average': 8.57,
  'vote_count': 12969},
 {'adult': False,
  'backdrop_path': '/zb6fM1CX41D9rF9hdgclu0peUmy.jpg',
  'genre_ids': [18, 36, 10752],
  'id': 424,
  'original_language': 'en',
  'original_title': "Schindler's List",
  'overview': 'The true story of how businessman Oskar Schindler saved over a thousand Jewish lives from the Nazis while they worked as slaves in his factory during World War II.',
  'popularity': 19.4471,
  'poster_path': '/sF1U4EUQS8YHUYjNl3pMGNIQyr0.jpg',
  'release_date': '1993-12-15',
  'title': "Schindler's List",
  'video': False,
  'vote_average': 8.565,
  'vote_count': 16446},
 {'adult': False,
  'backdrop_path': '/bxgTSUenZDHNFerQ1whRKplrMKF.jpg',
  'genre_ids': [18],
  'id': 389,
  'original_language': 'en',
  'original_title': '12 Angry Men',
  'overview': "The defense and the prosecution have rested and the jury is filing into the jury room to decide if a young Spanish-American is guilty or innocent of murdering his father. What begins as an open and shut case soon becomes a mini-drama of each of the jurors' prejudices and preconceptions about the trial, the accused, and each other.",
  'popularity': 15.5418,
  'poster_path': '/ow3wq89wM8qd5X7hWKxiRfsFf9C.jpg',
  'release_date': '1957-04-10',
  'title': '12 Angry Men',
  'video': False,
  'vote_average': 8.548,
  'vote_count': 9138},
 {'adult': False,
  'backdrop_path': '/m4TUa2ciEWSlk37rOsjiSIvZDXE.jpg',
  'genre_ids': [16, 10751, 14],
  'id': 129,
  'original_language': 'ja',
  'original_title': '千と千尋の神隠し',
  'overview': 'A young girl, Chihiro, becomes trapped in a strange new world of spirits. When her parents undergo a mysterious transformation, she must call upon the courage she never knew she had to free her family.',
  'popularity': 22.2901,
  'poster_path': '/39wmItIWsg5sZMyRUHLkWBcuVCM.jpg',
  'release_date': '2001-07-20',
  'title': 'Spirited Away',
  'video': False,
  'vote_average': 8.537,
  'vote_count': 17154},
 {'adult': False,
  'backdrop_path': '/plDp52MirFHc2PMJRMNWoG0kfr3.jpg',
  'genre_ids': [18, 28, 80, 53],
  'id': 155,
  'original_language': 'en',
  'original_title': 'The Dark Knight',
  'overview': 'Batman raises the stakes in his war on crime. With the help of Lt. Jim Gordon and District Attorney Harvey Dent, Batman sets out to dismantle the remaining criminal organizations that plague the streets. The partnership proves to be effective, but they soon find themselves prey to a reign of chaos unleashed by a rising criminal mastermind known to the terrified citizens of Gotham as the Joker.',
  'popularity': 29.665,
  'poster_path': '/qJ2tW6WMUDux911r6m7haRef0WH.jpg',
  'release_date': '2008-07-16',
  'title': 'The Dark Knight',
  'video': False,
  'vote_average': 8.52,
  'vote_count': 33874},
 {'adult': False,
  'backdrop_path': '/90ez6ArvpO8bvpyIngBuwXOqJm5.jpg',
  'genre_ids': [35, 18, 10749],
  'id': 19404,
  'original_language': 'hi',
  'original_title': 'दिलवाले दुल्हनिया ले जायेंगे',
  'overview': 'Raj is a rich, carefree, happy-go-lucky second generation NRI. Simran is the daughter of Chaudhary Baldev Singh, who in spite of being an NRI is very strict about adherence to Indian values. Simran has left for India to be married to her childhood fiancé. Raj leaves for India with a mission at his hands, to claim his lady love under the noses of her whole family. Thus begins a saga.',
  'popularity': 8.0436,
  'poster_path': '/rfcy6Gd3PbFIqwZX5U8xnbv7jOc.jpg',
  'release_date': '1995-10-20',
  'title': 'Dilwale Dulhania Le Jayenge',
  'video': False,
  'vote_average': 8.516,
  'vote_count': 4486},
 {'adult': False,
  'backdrop_path': '/amZavErrjrdgDwhsIdpWxHNenIx.jpg',
  'genre_ids': [14, 18, 80],
  'id': 497,
  'original_language': 'en',
  'original_title': 'The Green Mile',
  'overview': "A supernatural tale set on death row in a Southern prison, where gentle giant John Coffey possesses the mysterious power to heal people's ailments. When the cell block's head guard, Paul Edgecomb, recognizes Coffey's miraculous gift, he tries desperately to help stave off the condemned man's execution.",
  'popularity': 16.6755,
  'poster_path': '/8VG8fDNiy50H4FedGwdSVUPoaJe.jpg',
  'release_date': '1999-12-10',
  'title': 'The Green Mile',
  'video': False,
  'vote_average': 8.505,
  'vote_count': 18106},
 {'adult': False,
  'backdrop_path': '/hiKmpZMGZsrkA3cdce8a7Dpos1j.jpg',
  'genre_ids': [35, 53, 18],
  'id': 496243,
  'original_language': 'ko',
  'original_title': '기생충',
  'overview': "All unemployed, Ki-taek's family takes peculiar interest in the wealthy and glamorous Parks for their livelihood until they get entangled in an unexpected incident.",
  'popularity': 26.5197,
  'poster_path': '/7IiTTgloJzvGI1TAYymCfbfl3vT.jpg',
  'release_date': '2019-05-30',
  'title': 'Parasite',
  'video': False,
  'vote_average': 8.499,
  'vote_count': 19073},
 {'adult': False,
  'backdrop_path': '/suaEOtk1N1sgg2MTM7oZd2cfVp3.jpg',
  'genre_ids': [53, 80],
  'id': 680,
  'original_language': 'en',
  'original_title': 'Pulp Fiction',
  'overview': "A burger-loving hit man, his philosophical partner, a drug-addled gangster's moll and a washed-up boxer converge in this sprawling, comedic crime caper. Their adventures unfurl in three stories that ingeniously trip back and forth in time.",
  'popularity': 19.0292,
  'poster_path': '/vQWk5YBFWF4bZaofAbv0tShwBvQ.jpg',
  'release_date': '1994-09-10',
  'title': 'Pulp Fiction',
  'video': False,
  'vote_average': 8.489,
  'vote_count': 28685},
 {'adult': False,
  'backdrop_path': '/2u7zbn8EudG6kLlBzUYqP8RyFU4.jpg',
  'genre_ids': [12, 14, 28],
  'id': 122,
  'original_language': 'en',
  'original_title': 'The Lord of the Rings: The Return of the King',
  'overview': 'As armies mass for a final battle that will decide the fate of the world--and powerful, ancient forces of Light and Dark compete to determine the outcome--one member of the Fellowship of the Ring is revealed as the noble heir to the throne of the Kings of Men. Yet, the sole hope for triumph over evil lies with a brave hobbit, Frodo, who, accompanied by his loyal friend Sam and the hideous, wretched Gollum, ventures deep into the very dark heart of Mordor on his seemingly impossible quest to destroy the Ring of Power.\u200b',
  'popularity': 23.5792,
  'poster_path': '/rCzpDGLbOoPwLjy3OAm5NUPOTrC.jpg',
  'release_date': '2003-12-17',
  'title': 'The Lord of the Rings: The Return of the King',
  'video': False,
  'vote_average': 8.484,
  'vote_count': 25098},
 {'adult': False,
  'backdrop_path': '/8x9iKH8kWA0zdkgNdpAew7OstYe.jpg',
  'genre_ids': [16, 10749, 18],
  'id': 372058,
  'original_language': 'ja',
  'original_title': '君の名は。',
  'overview': 'High schoolers Mitsuha and Taki are complete strangers living separate lives. But one night, they suddenly switch places. Mitsuha wakes up in Taki’s body, and he in hers. This bizarre occurrence continues to happen randomly, and the two must adjust their lives around each other.',
  'popularity': 20.2473,
  'poster_path': '/8GJsy7w7frGquw1cy9jasOGNNI1.jpg',
  'release_date': '2016-08-26',
  'title': 'Your Name.',
  'video': False,
  'vote_average': 8.482,
  'vote_count': 11779},
 {'adult': False,
  'backdrop_path': '/tlEFuIlaxRPXIYVHXbOSAMCfWqk.jpg',
  'genre_ids': [35, 18, 10749],
  'id': 13,
  'original_language': 'en',
  'original_title': 'Forrest Gump',
  'overview': 'A man with a low IQ has accomplished great things in his life and been present during significant historic events—in each case, far exceeding what anyone imagined he could do. But despite all he has achieved, his one true love eludes him.',
  'popularity': 27.9901,
  'poster_path': '/arw2vcBveWOVZr6pxd9XTd1TdQa.jpg',
  'release_date': '1994-06-23',
  'title': 'Forrest Gump',
  'video': False,
  'vote_average': 8.468,
  'vote_count': 28228},
 {'adult': False,
  'backdrop_path': '/x4biAVdPVCghBlsVIzB6NmbghIz.jpg',
  'genre_ids': [37],
  'id': 429,
  'original_language': 'it',
  'original_title': 'Il buono, il brutto, il cattivo',
  'overview': 'While the Civil War rages on between the Union and the Confederacy, three men – a quiet loner, a ruthless hitman, and a Mexican bandit – comb the American Southwest in search of a strongbox containing $200,000 in stolen gold.',
  'popularity': 13.9395,
  'poster_path': '/bX2xnavhMYjWDoZp1VM6VnU1xwe.jpg',
  'release_date': '1966-12-22',
  'title': 'The Good, the Bad and the Ugly',
  'video': False,
  'vote_average': 8.462,
  'vote_count': 8990},
 {'adult': False,
  'backdrop_path': '/l33oR0mnvf20avWyIMxW02EtQxn.jpg',
  'genre_ids': [12, 18, 878],
  'id': 157336,
  'original_language': 'en',
  'original_title': 'Interstellar',
  'overview': 'The adventures of a group of explorers who make use of a newly discovered wormhole to surpass the limitations on human space travel and conquer the vast distances involved in an interstellar voyage.',
  'popularity': 37.2563,
  'poster_path': '/gEU2QniE6E77NI6lCU6MxlNBvIx.jpg',
  'release_date': '2014-11-05',
  'title': 'Interstellar',
  'video': False,
  'vote_average': 8.455,
  'vote_count': 37178},
 {'adult': False,
  'backdrop_path': '/7TF4p86ZafnxFuNqWdhpHXFO244.jpg',
  'genre_ids': [18, 80],
  'id': 769,
  'original_language': 'en',
  'original_title': 'GoodFellas',
  'overview': 'The true story of Henry Hill, a half-Irish, half-Sicilian Brooklyn kid who is adopted by neighbourhood gangsters at an early age and climbs the ranks of a Mafia family under the guidance of Jimmy Conway.',
  'popularity': 16.4733,
  'poster_path': '/aKuFiU82s5ISJpGZp7YkIr3kCUd.jpg',
  'release_date': '1990-09-12',
  'title': 'GoodFellas',
  'video': False,
  'vote_average': 8.455,
  'vote_count': 13383},
 {'adult': False,
  'backdrop_path': '/sJNNMCc6B7KZIY3LH3JMYJJNH5j.jpg',
  'genre_ids': [28, 18],
  'id': 346,
  'original_language': 'ja',
  'original_title': '七人の侍',
  'overview': "A samurai answers a village's request for protection after he falls on hard times. The town needs protection from bandits, so the samurai gathers six others to help him teach the people how to defend themselves, and the villagers provide the soldiers with food.",
  'popularity': 8.0157,
  'poster_path': '/8OKmBV5BUFzmozIC3pPWKHy17kx.jpg',
  'release_date': '1954-04-26',
  'title': 'Seven Samurai',
  'video': False,
  'vote_average': 8.456,
  'vote_count': 3892},
 {'adult': False,
  'backdrop_path': '/tDFvXn4tane9lUvFAFAUkMylwSr.jpg',
  'genre_ids': [16, 18, 10752],
  'id': 12477,
  'original_language': 'ja',
  'original_title': '火垂るの墓',
  'overview': 'In the final months of World War II, 14-year-old Seita and his sister Setsuko are orphaned when their mother is killed during an air raid in Kobe, Japan. After a falling out with their aunt, they move into an abandoned bomb shelter. With no surviving relatives and their emergency rations depleted, Seita and Setsuko struggle to survive.',
  'popularity': 0.0107,
  'poster_path': '/k9tv1rXZbOhH7eiCk378x61kNQ1.jpg',
  'release_date': '1988-04-16',
  'title': 'Grave of the Fireflies',
  'video': False,
  'vote_average': 8.449,
  'vote_count': 5895},
 {'adult': False,
  'backdrop_path': '/6aNKD81RHR1DqUUa8kOZ1TBY1Lp.jpg',
  'genre_ids': [35, 18],
  'id': 637,
  'original_language': 'it',
  'original_title': 'La vita è bella',
  'overview': 'A touching story of an Italian book seller of Jewish ancestry who lives in his own little fairy tale. His creative and happy life would come to an abrupt halt when his entire family is deported to a concentration camp during World War II. While locked up he tries to convince his son that the whole thing is just a game.',
  'popularity': 10.1498,
  'poster_path': '/74hLDKjD5aGYOotO6esUVaeISa2.jpg',
  'release_date': '1997-12-20',
  'title': 'Life Is Beautiful',
  'video': False,
  'vote_average': 8.448,
  'vote_count': 13376}]

In [ ]:
pd.DataFrame(response.json()['results']).head(10)

,adult,backdrop_path,genre_ids,id,original_language,original_title,overview,popularity,poster_path,release_date,title,video,vote_average,vote_count
0,False,/kXfqcdQKsToO0OUXHcrrNCHDBzO.jpg,"[18, 80]",278,en,The Shawshank Redemption,Imprisoned in the 1940s for the double murder ...,35.0837,/9cqNxx0GxF0bflZmeSMuL5tnGzr.jpg,1994-09-23,The Shawshank Redemption,False,8.710,28334
1,False,/tmU7GeKVybMWFButWEGl2M4GeiP.jpg,"[18, 80]",238,en,The Godfather,"Spanning the years 1945 to 1955, a chronicle o...",34.2345,/3bhkrj58Vtu7enYsRolD1fZdja1.jpg,1972-03-14,The Godfather,False,8.686,21466
2,False,/kGzFbGhp99zva6oZODW5atUtnqi.jpg,"[18, 80]",240,en,The Godfather Part II,In the continuing saga of the Corleone crime f...,17.3255,/hek3koDUyRQk7FIhPXsa6mT2Zc3.jpg,1974-12-20,The Godfather Part II,False,8.570,12969
3,False,/zb6fM1CX41D9rF9hdgclu0peUmy.jpg,"[18, 36, 10752]",424,en,Schindler's List,The true story of how businessman Oskar Schind...,19.4471,/sF1U4EUQS8YHUYjNl3pMGNIQyr0.jpg,1993-12-15,Schindler's List,False,8.565,16446
4,False,/bxgTSUenZDHNFerQ1whRKplrMKF.jpg,[18],389,en,12 Angry Men,The defense and the prosecution have rested an...,15.5418,/ow3wq89wM8qd5X7hWKxiRfsFf9C.jpg,1957-04-10,12 Angry Men,False,8.548,9138
5,False,/m4TUa2ciEWSlk37rOsjiSIvZDXE.jpg,"[16, 10751, 14]",129,ja,千と千尋の神隠し,"A young girl, Chihiro, becomes trapped in a st...",22.2901,/39wmItIWsg5sZMyRUHLkWBcuVCM.jpg,2001-07-20,Spirited Away,False,8.537,17154
6,False,/plDp52MirFHc2PMJRMNWoG0kfr3.jpg,"[18, 28, 80, 53]",155,en,The Dark Knight,Batman raises the stakes in his war on crime. ...,29.6650,/qJ2tW6WMUDux911r6m7haRef0WH.jpg,2008-07-16,The Dark Knight,False,8.520,33874
7,False,/90ez6ArvpO8bvpyIngBuwXOqJm5.jpg,"[35, 18, 10749]",19404,hi,दिलवाले दुल्हनिया ले जायेंगे,"Raj is a rich, carefree, happy-go-lucky second...",8.0436,/rfcy6Gd3PbFIqwZX5U8xnbv7jOc.jpg,1995-10-20,Dilwale Dulhania Le Jayenge,False,8.516,4486
8,False,/amZavErrjrdgDwhsIdpWxHNenIx.jpg,"[14, 18, 80]",497,en,The Green Mile,A supernatural tale set on death row in a Sout...,16.6755,/8VG8fDNiy50H4FedGwdSVUPoaJe.jpg,1999-12-10,The Green Mile,False,8.505,18106
9,False,/hiKmpZMGZsrkA3cdce8a7Dpos1j.jpg,"[35, 53, 18]",496243,ko,기생충,"All unemployed, Ki-taek's family takes peculia...",26.5197,/7IiTTgloJzvGI1TAYymCfbfl3vT.jpg,2019-05-30,Parasite,False,8.499,19073

In [ ]:
df = pd.DataFrame(response.json()['results']).head(10)[['id','title','overview', 'release_date', 'popularity']]

In [ ]:
df.head()

,id,title,overview,release_date,popularity
0,278,The Shawshank Redemption,Imprisoned in the 1940s for the double murder ...,1994-09-23,35.0837
1,238,The Godfather,"Spanning the years 1945 to 1955, a chronicle o...",1972-03-14,34.2345
2,240,The Godfather Part II,In the continuing saga of the Corleone crime f...,1974-12-20,17.3255
3,424,Schindler's List,The true story of how businessman Oskar Schind...,1993-12-15,19.4471
4,389,12 Angry Men,The defense and the prosecution have rested an...,1957-04-10,15.5418

In [ ]:
import requests
import pandas as pd

df_list = []

for i in range(1, 429):
    response = requests.get(
        'https://api.themoviedb.org/3/movie/top_rated?api_key=08f5259a7b43d7d3bf08a261a0f38dd1&language=en-US&page={}'.format(i)
    )
    temp_df = pd.DataFrame(response.json()['results']).head(10)[['id', 'title', 'overview', 'release_date', 'popularity']]
    df_list.append(temp_df)

# Combine all temporary DataFrames at once
df = pd.concat(df_list, ignore_index=True)

In [ ]:
print(df)

          id                     title  \
0        278  The Shawshank Redemption
1        238             The Godfather
2        240     The Godfather Part II
3        424          Schindler's List
4        389              12 Angry Men
...      ...                       ...
4275   23172         The Spy Next Door
4276   15379         Missing in Action
4277  429460                      Muse
4278  333674                 Intruders
4279   12596               Pushing Tin

                                               overview release_date  \
0     Imprisoned in the 1940s for the double murder ...   1994-09-23
1     Spanning the years 1945 to 1955, a chronicle o...   1972-03-14
2     In the continuing saga of the Corleone crime f...   1974-12-20
3     The true story of how businessman Oskar Schind...   1993-12-15
4     The defense and the prosecution have rested an...   1957-04-10
...                                                 ...          ...
4275  Former CIA spy Bob Ho takes on his toughest as...   2010-01-15
4276  American servicemen are still being held capti...   1984-11-16
4277  Samuel Salomon, a literature professor, has be...   2017-11-09
4278  Anna suffers from agoraphobia so crippling tha...   2015-06-12
4279  Two air traffic controllers who thrive on livi...   1999-04-23

      popularity
0        35.0837
1        34.2345
2        17.3255
3        19.4471
4        15.5418
...          ...
4275      3.1707
4276      2.7264
4277      0.8438
4278      1.8744
4279      1.4733

[4280 rows x 5 columns]

In [ ]:
df.shape

(4280, 5)

In [ ]:
df.to_csv('movies.csv')

rapidapi can be used to get various apis.

# By Web scraping

I'm doing from amibition box

In [ ]:
from bs4 import BeautifulSoup  #library used for web scraping
import requests

In [ ]:
headers = {'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/122.0.0.0 Safari/537.36'}

In [ ]:
requests.get('https://www.ambitionbox.com/list-of-companies?page=1') #this is like hitting the sever as a bot not from browser

In [ ]:
requests.get('https://www.ambitionbox.com/list-of-companies?page=1').text

'<HTML><HEAD>\n<TITLE>Access Denied</TITLE>\n</HEAD><BODY>\n<H1>Access Denied</H1>\n \nYou don\'t have permission to access "http&#58;&#47;&#47;www&#46;ambitionbox&#46;com&#47;list&#45;of&#45;companies&#63;" on this server.<P>\nReference&#32;&#35;18&#46;f71ca17&#46;1748612074&#46;4e1b2e03\n<P>https&#58;&#47;&#47;errors&#46;edgesuite&#46;net&#47;18&#46;f71ca17&#46;1748612074&#46;4e1b2e03</P>\n</BODY>\n</HTML>\n'

Doing like the request is hit by search engine

In [ ]:
headers = {'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/122.0.0.0 Safari/537.36', 'Accept': 'text/html,application/xhtml+xml,application/xml;q=0.9,*/*;q=0.8', 'Accept-Language': 'en-US,en;q=0.5', 'Referer': 'https://www.google.com/', 'Connection': 'keep-alive'}
webpage = response = requests.get('https://www.ambitionbox.com/list-of-companies?page=1', headers=headers)
print(response.status_code)
print(response.text[:1000])

In [ ]:
soup = BeautifulSoup (webpage,'lxml')

In [ ]:
print (soup.prettify())

In [ ]:
soup.find_all('h1')

In [ ]:
soup.find_all('h1')[0].text #to get only text

In [ ]:
soup.find_all('h2')

In [ ]:
len (soup.find_all('h2'))

In [ ]:
for i in soup.find_all('h2'):
  print (i.text)

In [ ]:
for i in soup.find_all('h2'):
  print (i.text.strip())

Now then, do the similar to the webpage > inspect > and get the tag / div from the webpage which helps us to get the data .